<div class="footer">
    <div class="contact">
      <h2><b>Studio Location</b></h2>
            Careswell Street<br/>
            Green Harbor, MA  02050<br/>

            <a href="tel:6177750725" style="color: blue">(617) 775-0725</a><br/>

            <a href='https://goo.gl/maps/Z2ADBDxKiemAEBfY9' title='Directions' style="color: blue"> Directions</a><br/>
    </div>

    <div class="icons">
       <a href="https://www.facebook.com/carole.brnotierney/" style="left: 1120px; top: 1000%"><i class="fab fa-facebook-square fa-2x fa-fw"></i></a>

       <a href="mailto:caroleatierney@gmail.com" target="_top" style="left: 1140px; top: 1000%"><i class="fas fa-envelope fa-2x fa-fw" target="_blank"></i></a>

       <a href="https://www.instagram.com/caroleatierney" style="left: 1160px; top: 1000%" target="_blank"><i class="fab fa-instagram-square fa-2x fa-fw"></i></a>

       <a href="www.linkedin.com/in/caroleatierney" style="left: 1160px; top: 1000%" target="_blank"><i class="fab fa-linkedin fa-2x fa-fw"></i> </a>
    </div>
</div>
